<turbo-stream action="append" target="messages">
  <template>
    <%= render partial: "messages/message", formats: [:html], locals: { message: @message } %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="message_form">
  <template>
    <div id="message_form">
      <%= form_with(model: [@chat_room, Message.new]) do |form| %>
        <%= form.text_area :content, rows: 3 %><br>
        <%= form.submit "送信" %>
      <% end %>
    </div>
  </template>
</turbo-stream>
